<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Mauricio Hernández Portfolio</title>
</head>
<body>
    <aside>
       <img src="images/menu.svg">
       <nav>
           <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/about">About</a></li>
               <li><a href="/service">Services</a></li>
               <li><a href="/contact">Contact</a></li>

           </ul>
       </nav>

    </aside>
    <main>
        <h1>About me...</h1>
        <h1>Educacción</h1>
        <p> 01-2020 - Actual ESCUELA SUPERIOR DE ECONOMÍA Y NEGOCIOS, San Salvador - El Salvador
            Ingeniería de Negocios.</p>
        <p>01-2018 - 10-2019 LICEO SALVADOREÑO, San Salvador - El Salvador
            Bachillerato general.</p>
        <p>11-2018 - 11-2018 ALIANZA FRANCESA SAN SALVADOR, San Salvador - El Salvador
            Diplôme D'études En Langue Française DELF A1.</p>

    </main>

</body>
</html>

