<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Contact</title>
</head>
</head>
<body>
    <aside>
       <img src="images/menu.svg">
       <nav>
           <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/contact">Contact</a></li>
           </ul>
       </nav>
    </aside>
    <main>
        <h1>Contact me</h1>
        <p> Tel.: 77410710 </p>
        <p> Tel. 2: 22620664</p>
        <p> Linkedin: </p> <a href="https://www.linkedin.com/in/mauricio-hernández-649905219/">https://www.linkedin.com/in/mauricio-hernández-649905219/</a>
        <p> Mail: hernandez15reyes@gmail.com, 20204006@esen.edu.sv</p>
        <p> GitHub: </p> <a href="https://github.com/mauricioh15">https://github.com/mauricioh15</a>
        <h1>References</h1>
        <p> Paola Quezada:
            Coordinadora del Centro 
            Emprendedor
            CENTRO EMPRENDEDOR - ESEN,
            pquezada@esen.edu.sv,
            79379717.</p>

        <p> Ricardo Hernández Pereira:
            Docente e investigador educativo,
            LICEO SALVADOREÑO,
            ricardobacoster@gmail.com,
            74884626</p>
    </main>


</body>
</html>