<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Mauricio Hernández Portfolio</title>
</head>
<body>
    <aside>
       <img src="images/menu.svg">
       <nav>
           <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/about">About</a></li>
               <li><a href="/service">Services</a></li>
               <li><a href="/contact">Contact</a></li>

           </ul>
       </nav>

    </aside>
    <main>
        <h1>Experience and services</h1>
        <p>03-2020 - Actual Miembro de Operaciones en Asociación de Alumnos Emprendedores (SAE)
            Diseño y organizo los protocolos a seguir para las actividades que la asociación 
            brinda a la escuela</p>
        <p> 09-2021 - 01-2022 Representante de Ciclo ESEN
            Organizo las actividades académicas y extracurriculares con los catedráticos y 
            alumnos</p>
        
        <p>12-2019 - 12-2019 Voluntario en Comité de Protocolo del Foro Regional del SICA 2019
            Organicé y desarrolle procesos logísticos antes y durante el Foro Regional SICA 
            2019 para la Secretaría General del Sistema de la Integración Centroamericana 
            (SG-SICA)</p>

        <p> 01-2019 - 11-2019 Miembro de Soporte Técnico Pedagógico en LICEO SALVADOREÑO
            Apoyé en labores de planificación para la certificación de alumnos en programas 
            de Microsoft Office </p>

    </main>

</body>
</html>

